{% extends 'base.html' %}


{% block content %}

<link rel="stylesheet" href="/static/style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="nav-bar">
    <nav>
        <a class="home-name" href="/">Krispy Exotics</a>
        <a href="https://www.instagram.com/krispy_exotics/">
            <i class="contact-burger fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="mailto:krispyexotics@gmail.com">
            <i class="contact-burger fa-1x fa fa-envelope"></i>
        </a>

    </nav>
</div>
<div id="image-container" class="hero">
    {% for image in images %}

    <img id="myImg" class="myimg" src="{{ image.image.url }}" alt="">

    {% endfor %}


</div>

<div id="myTitle" class="title">
    <h2>Krispy Exotics</h2>
</div>

<div class="navi">
    <div id="infoi">
        <nav>
            <ul>
                <li><a href="https://www.instagram.com/krispy_exotics/"><i
                            class="fab fa-instagram"></i><span>Instagram</span></a></li>
                <li><a href="mailto:krispyexotics@gmail.com"><i class="fab fa-google"></i><span>Gmail</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="content">
    <p>© Krispy Exotics 2020 </p>
</div>

<script src="/static/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock content %}