{% extends 'base.html' %}


{% block content %}

<link rel="stylesheet" href="/static/style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="nav-bar">
    <nav>
        <a class="home-name" href="/">Krispy Exotics</a>
        <a href="https://www.instagram.com/krispy_exotics/">
            <i class="contact-burger fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="mailto:krispyexotics@gmail.com">
            <i class="contact-burger fa-1x fa fa-envelope"></i>
        </a>

    </nav>
</div>
<div id="image-container" class="hero">
    <img id="myImg" class="myimg" src="/static/images/1.JPG" alt="1.jpg">
    <img id="myImg" class=" myimg" src="/static/images/2.JPG" alt="2.jpg">
    <img id="myImg" class="myimg" src="/static/images/3.JPG" alt="3.jpg">
    <img id="myImg" class="myimg" src="/static/images/4.JPG" alt="4.jpg">
    <img id="myImg" class="myimg" src="/static/images/5.JPG" alt="5.jpg">
    <img id="myImg" class="myimg" src="/static/images/6.JPG" alt="6.jpg">
    <img id="myImg" class="myimg" src="/static/images/7.JPG" alt="7.jpg">
    <img id="myImg" class="myimg" src="/static/images/8.JPG" alt="8.jpg">
    <img id="myImg" class="myimg" src="/static/images/11.JPG" alt="9.jpg">

</div>

<div id="myTitle" class="title">
    <h2>Krispy Exotics</h2>
</div>

<div class="navi">
    <div id="infoi">
        <nav>
            <ul>
                <li><a href="https://www.instagram.com/krispy_exotics/"><i
                            class="fab fa-instagram"></i><span>Instagram</span></a></li>
                <li><a href="mailto:krispyexotics@gmail.com"><i class="fab fa-google"></i><span>Gmail</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="content">
    <p>© Krispy Exotics 2020 </p>
</div>

<script src="/static/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock content %}