<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KrispyExotics</title>

</head>

<body>
    <div class="nav-bar">
        <nav>
            <a class="home-name" href="/">Krispy Exotics</a>
            <a href="https://www.instagram.com/krispy_exotics/">
                <i class="contact-burger fab fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="mailto:krispyexotics@gmail.com">
                <i class="contact-burger fa-1x fa fa-envelope"></i>
            </a>

        </nav>
    </div>
    {% block content %}
    {% endblock content %}
</body>

</html>